<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>User App</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% unless current_user.blank? %>
      <%= render 'layouts/shared/header' %>
      <div class="container-fluid main-container">
        <%= render 'layouts/shared/sidebar' %>
        <div class="col-md-10 content">
          <%= render partial: "layouts/shared/flash_message", flash: flash %>
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-12">
          <div class="margin-left-5">
            <%= render partial: "layouts/shared/flash_message", flash: flash %>
          </div>
        </div>
      </div>
      <%= yield %>
    <% end %>
  </body>
</html>
